.split-pane {
}

.split-pane-divider {
  -fx-background-color: rgba(255, 255, 255, 0.12);
  -fx-padding: 0 4 0 4; /* 4px wide divider */
}

.split-pane-divider:hover {
  -fx-background-color: rgba(255, 255, 255, 0.3);
}
