.split-pane {
}

.split-pane-divider {
  -fx-background-color: rgba(255, 255, 255, 0.12);
  -fx-padding: 0 4 0 4; /* 4px wide divider */
}

.split-pane-divider:hover {
  -fx-background-color: rgba(255, 255, 255, 0.3);
}
/* base style for icon buttons */
.icon-button {
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(101, 155, 248, 0.25), 10, 0.2, 0, 2);
  -fx-opacity: 1;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
}

/* hover visual + scale */
.icon-button:hover {
  -fx-effect: dropshadow(gaussian, rgba(30, 150, 255, 1), 45, 0.6, 0, 0);

  -fx-scale-x: 1.08;
  -fx-scale-y: 1.08;
}

/* pressed effect */
.icon-button:pressed {
  -fx-scale-x: 0.95;
  -fx-scale-y: 0.95;
  -fx-opacity: 0.9;
}
